@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  // Main palette

  --main-text: #fff;
  // --secondary-text: #5ca2e4;
  --main-bg: #111111;
  --secondary-bg: #161b1f;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  color: var(--main-text);
  font-size: 1.5rem;
}

body {
  background-color: var(--main-bg);
  color: var(--main-text);
  font-family: 'Mynerve', cursive;
}